$height: 50px;

.container {
  height: 100%;
}

mat-grid-tile {
  background: lightblue;
}

mat-grid-list {
  height: calc(100% - #{$height});
}

footer {
  height: $height;
  background: black;
  vertical-align: top;
  display: flex;
}
