<div *ngIf="track">

  <button (click)="play.emit()" [disabled]="playing">PLAY</button>
  <button (click)="pause.emit()" [disabled]="!playing">PAUSE</button>

  {{ seek | formatTime }}

  <input type="range"
         (change)="setSeek.emit({
            seek: $event.target.value,
            duration: track.duration
         })"
         [value]="calculateSlider(seek, track.duration)">

  {{ track.duration | formatTime }}

  <button (click)="stop.emit()">STOP</button>
</div>

<div *ngIf="!track">
  <h2>No track selected</h2>
</div>

